@use '../../../app/vars' as *;

.container {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
	width: 100%;
	pointer-events: none;
	z-index: 10;

	.prevButton,
	.nextButton {
		pointer-events: auto;
	}
}

$bg-color: $primary-color;
$bg-color-hover: $secondary-color;
$txt-color: $txt-white;
$txt-color-hover: $txt-white;

.prevButton,
.nextButton {
	cursor: pointer;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: $spacing-4;
	background-color: rgba($white, 0.8);
	color: $primary-color;
	border: 2px solid $primary-color;
	transition: background-color 0.2s, color 0.2s, filter 0.2s;

	&:hover {
		background-color: $primary-color;
		color: $txt-white;
		filter: brightness(0.97);
		border-color: $secondary-color;
	}

	&:active {
		background-color: $secondary-color;
		color: $txt-white;
		filter: brightness(0.93);
		border-color: $accent-color;
	}

	svg {
		aspect-ratio: 1;
		font-size: $font-size-18;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.5;
		cursor: not-allowed;
		background-color: $gray-200;
		color: $gray-500;
		border-color: $gray-300;
	}
}
