@use '../../app/vars' as *;
@use 'sass:color';

.select {
	position: relative;
	display: inline-block;

	* {
		text-wrap: nowrap;
	}
}

.trigger {
	cursor: pointer;
	min-width: 8em;
	width: 100%;
	padding: $spacing-8 $spacing-16;
	border: 1px solid $gray-400;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: $spacing-8;
	border-radius: 0.25em;
	background-color: $white;
	font-size: $font-size-16;
	font-weight: $font-weight-regular;
	transition: border-color 0.2s ease, background-color 0.2s ease;

	&.null {
		color: $txt-secondary;
	}

	&:hover {
		border-color: color.adjust($gray-400, $lightness: 10%);
		background-color: $white;
	}
}

.chevron {
	transition: transform 0.2s ease;

	&.rotated {
		transform: rotate(180deg);
	}
}

.dropdown {
	position: absolute;
	top: 120%;
	left: -10%;
	right: 0;
	width: 120%;
	background-color: white;
	border: 1px solid $gray-400;
	border-radius: 0.25em;
	list-style: none;
	margin: 0;
	max-height: $unit * 50;
	overflow-y: auto;
	z-index: 1000;
}

.searchItem {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: $spacing-8;
	background-color: $white;

	input {
		width: 100%;
		padding: 6px;
		border: 1px solid $gray-400;
		border-radius: 0.25em;
		font-size: $font-size-14;

		&:focus {
			outline: none;
			border-color: $primary-color;
		}
	}
}

.item {
	padding: $spacing-8 $spacing-16;
	cursor: pointer;
	font-size: $font-size-14;
	font-weight: $font-weight-regular;

	&.selected {
		background-color: $primary-color;
		color: $white;
	}

	&:not(.selected):hover {
		background-color: rgba($primary-color, 0.1);
		color: $primary-color;
	}
}

.select.open .trigger {
	border-color: $primary-color;
	background-color: rgba($primary-color, 0.3);
	color: $txt-white;
}
