@use '../../vars' as *;

.KeyboardsTable {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: $spacing-16;
	width: 100%;
	margin-top: $spacing-56;
	@media screen and (max-width: $breakpoint-md) {
		justify-content: center;
		margin-bottom: 1em;
	}
}

.KeyboardsPagination {
	.PaginationInfo {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: $spacing-12 $spacing-20;
		font-size: $font-size-16;
		color: $txt-secondary;

		span {
			display: flex;
			gap: $spacing-8;
			b {
				color: $primary-color;
				font-weight: $font-weight-bold;
			}
		}

		@media screen and (max-width: $breakpoint-md) {
			justify-content: center;
			padding: $spacing-12 0;
		}
	}

	.PaginationList {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: $spacing-16;

		.PaginationButton {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5em;
			color: $primary-color;
			border: 0.15em solid $primary-color;
			border-radius: 50%;
			font-size: 1em;

			&:not(:disabled) {
				cursor: pointer;
			}

			&:disabled {
				cursor: not-allowed;
				color: $txt-tertiary;
				border-color: $txt-tertiary;
			}

			svg {
				aspect-ratio: 1;
				font-size: 1em;
			}

			transition: color 0.2s, border-color 0.2s, background-color 0.2s, transform 0.15s;

			&:hover:not(:disabled) {
				background-color: $primary-color;
				color: $white;
				transform: scale(1.08);
			}
			&:active:not(:disabled) {
				transform: scale(0.96);
			}

			@media screen and (max-width: $breakpoint-md) {
				font-size: 0.75em;
			}
		}

		.PaginationItem {
			color: $txt-tertiary;
			font-size: $font-size-16;
			font-weight: $font-weight-semibold;

			&.active {
				color: $primary-color;
				font-weight: $font-weight-bold;
			}
		}
	}
}

.sortFilter {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: $spacing-16;
	z-index: 1000;

	@media screen and (max-width: $breakpoint-md) {
		flex-direction: column;
	}
}

.sortFilterActions {
	position: sticky;
	display: flex;
	align-items: center;
	gap: $spacing-8;

	.sortFilterAction {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: $spacing-8;
		padding: $spacing-8 $spacing-16;
		border-radius: 0.25em;
		background-color: $black-800;

		* {
			color: $txt-white;
			text-wrap: nowrap;
		}

		&:hover {
			background-color: $black-700;
		}

		&:active {
			background-color: $black-600;
		}
	}

	.sortTrigger {
		@extend .sortFilterAction;
		color: $txt-white !important;
	}
}

.quickFilter {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: $spacing-8;

	@media screen and (max-width: $breakpoint-sm) {
		display: none;
	}
}
