@use '../../app/vars' as *;

.label {
	font-size: $font-size-16;
	font-weight: $font-weight-regular;
	color: $txt-primary;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: $spacing-8;
	user-select: none;
}

.hiddenInput {
	appearance: none;
	position: absolute;
	opacity: 0;
	pointer-events: none;
	width: 0;
	height: 0;
}

.checkbox {
	position: relative;
	width: $font-size-16;
	height: $font-size-16;
	border-radius: 50%;
	border: 1px solid $accent-color;
	background-color: $white;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.checked {
	position: relative;
	aspect-ratio: 1;
	width: 0.6em;
	border-radius: 50%;
	background-color: $accent-color;
}

.checkmark {
	color: $white;
	font-size: $font-size-14;
	font-weight: bold;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.title {
	color: $txt-primary;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
