@use '../../../app/vars' as *;

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: $spacing-16;
}

.part {
	height: max-content;
	border-radius: 0.5em;
	background-color: $white;
}

.detail {
	position: relative;
	display: flex;
	overflow: hidden;
	.imgs {
		flex: 1 0 40%;
		display: flex;
		flex-direction: column;
		gap: $spacing-16;
		padding: $spacing-16;

		.mainWrap {
			position: relative;

			border: 1px solid $txt-light;
			border-radius: $spacing-8;
			overflow: hidden;
			.main {
				position: relative;
				display: flex;
				overflow: hidden;

				.img {
					flex: 1 0 100%;
					aspect-ratio: 1;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;

					.spinner {
						font-size: $font-size-32;
						color: $primary-color;
					}
				}
			}
			$discountTag-offset-x: 5%;
			.tag {
				position: absolute;
				top: $discountTag-offset-x;
				left: calc(-47% + $discountTag-offset-x);
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: rotate(-45deg);
				color: $txt-white;
				font-size: $font-size-20;
				line-height: 1.5;
				font-weight: $font-weight-semibold;
				background-color: $orange-color;
			}

			&:hover {
				.nav {
					opacity: 1;
				}
			}
		}

		.thumbWrap {
			position: relative;
			overflow: hidden;
			.thumbs {
				position: relative;
				display: flex;
				align-items: center;
				gap: $spacing-16;
				overflow-x: auto;
				scrollbar-width: none; // Firefox
				&::-webkit-scrollbar {
					display: none; // Chrome, Safari, Opera
				}

				.thumb {
					cursor: pointer;
					flex: 0 0 auto;
					aspect-ratio: 1;
					position: relative;
					width: calc((100% - $spacing-16 * 3) / 4);
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: $spacing-8;
					border: 1px solid $txt-light;
					overflow: hidden;
					img {
						aspect-ratio: 1;
						border-radius: inherit;
						transition: transform 0.2s ease-in-out;
					}

					&:not(.active):hover {
						img {
							transform: scale(1.1);
						}
					}

					&.active {
						border: 1px solid $secondary-color;
					}
				}
			}

			&:hover {
				.nav {
					opacity: 1;
				}
			}
		}

		.nav {
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}
	}

	.info {
		flex: 1 0 50%;
		padding: $spacing-32;

		.name {
			font-size: $font-size-24;
			font-weight: $font-weight-semibold;
			color: $txt-primary;
		}

		.line {
			width: $unit * 20;
			margin: $spacing-16 0;
		}

		.price {
			display: flex;
			align-items: center;
			gap: $spacing-16;

			.originalPrice {
				font-size: $font-size-16;
				font-weight: $font-weight-regular;
				color: $txt-secondary;
				text-decoration: line-through;
			}

			.discountedPrice {
				font-size: $font-size-20;
				font-weight: $font-weight-semibold;
				color: $secondary-color;
			}
		}

		.features {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: $spacing-4;
			padding-left: 1ch;
			font-size: $font-size-16;
			margin-top: $spacing-24;

			.feature {
				display: flex;
				gap: $spacing-8;

				&__label {
					position: relative;
					display: flex;
					align-items: center;
					height: max-content;
					gap: $spacing-8;
					font-weight: $font-weight-semibold;
					color: $txt-primary;
				}

				&__value {
					font-weight: $font-weight-regular;
					color: $txt-secondary;
				}
			}
		}

		.actions {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: $spacing-16;
			margin-top: $spacing-24;

			&__quantity {
				padding: $spacing-8;
			}

			&__buyNow {
				font-size: $font-size-16;
			}
			&__addToCart {
				font-size: $font-size-16;
			}
		}
	}

	@media screen and (max-width: $breakpoint-lg) {
		.imgs {
			.mainWrap {
				$discountTag-offset-x: 7%;
				.tag {
					top: $discountTag-offset-x;
					left: calc(-47% + $discountTag-offset-x);
				}
			}
		}
	}

	@media screen and (max-width: $breakpoint-md) {
		flex-direction: column;
		.imgs {
			flex: 1 0 100%;
			.mainWrap {
				margin-bottom: $spacing-16;

				$discountTag-offset-x: 5%;
				.tag {
					top: $discountTag-offset-x;
					left: calc(-48% + $discountTag-offset-x);
					font-size: $font-size-20;
				}
			}
			.thumbWrap {
				margin-bottom: $spacing-16;
			}
			.nav {
				opacity: 1;
			}
		}
		.info {
			flex: 1 0 100%;
			padding: $spacing-16;

			.features {
				padding-left: 0;
			}
		}
	}

	@media screen and (max-width: $breakpoint-sm) {
		.imgs {
			.mainWrap {
				$discountTag-offset-x: 7%;
				.tag {
					top: $discountTag-offset-x;
					left: calc(-48% + $discountTag-offset-x);
					font-size: $font-size-16;
				}
			}
		}

		.info {
			.actions {
				flex-direction: column;
				align-items: flex-start;
				gap: $spacing-12;

				&__quantity {
					width: 100%;

					input {
						flex: 1;
					}
				}

				&__buyNow,
				&__addToCart {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

.moreInfo {
	position: relative;

	// &__pages {
	// 	display: flex;
	// 	gap: $spacing-8;
	// 	margin-bottom: $spacing-8;
	// 	overflow-x: auto;

	// 	@media screen and (max-width: $breakpoint-md) {
	// 		flex-direction: column;
	// 		gap: $spacing-4;
	// 		padding: 0;
	// 	}
	// }

	// &__page {
	// 	cursor: pointer;
	// 	padding: $spacing-8 $spacing-20;
	// 	color: $white;
	// 	background: transparent;
	// 	transition: background 0.18s cubic-bezier(0.4, 0, 0.2, 1), color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
	// 	user-select: none;
	// 	position: relative;
	// 	font-size: $font-size-16;
	// 	font-weight: $font-weight-semibold;
	// 	text-wrap: nowrap;
	// 	background-color: rgba($accent-color, 0.2);
	// 	letter-spacing: 0.02em;

	// 	&:hover,
	// 	&--active {
	// 		background: $accent-color;
	// 	}

	// 	@media screen and (max-width: $breakpoint-md) {
	// 		font-size: $font-size-14;
	// 		padding: $spacing-8 $spacing-16;
	// 	}
	// }

	// &__content {
	// 	position: relative;
	// 	font-size: $font-size-16;
	// 	margin-top: $spacing-24;

	// 	&.specs {
	// 		ul {
	// 			list-style: none;
	// 			padding: 0;
	// 			display: flex;
	// 			flex-direction: column;

	// 			li {
	// 				display: flex;
	// 				align-items: center;
	// 				border-bottom: 1px solid $txt-tertiary;
	// 				padding: $spacing-8 0;
	// 				color: $txt-secondary;
	// 				strong {
	// 					flex: 0 0 25%;
	// 				}
	// 			}
	// 		}
	// 	}

	// 	@media screen and (max-width: $breakpoint-md) {
	// 		font-size: $font-size-14;

	// 		&.specs {
	// 			ul {
	// 				li {
	// 					font-size: $font-size-14;
	// 					strong {
	// 						flex: 0 0 40%;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	&__parallelWrapper {
		display: flex;
		gap: 1em;

		&__title {
			font-size: 1.5em;
			font-weight: $font-weight-semibold;
			color: $txt-accent;
			margin-bottom: 1em;
		}

		.part {
			padding: 1em;
		}

		&__description {
			flex: 6.5;
			font-size: 0.875em;
		}

		&__specs {
			flex: 3.5;
			font-size: 0.875em;
			ul {
				padding: 0;
				display: flex;
				flex-direction: column;

				li {
					display: flex;
					border-bottom: 1px solid $txt-tertiary;
					padding: 0.5em 0;
					margin: 0;
					color: $txt-secondary;
					strong {
						flex: 0 0 12ch;
						margin-right: 1ch;
						font-weight: $font-weight-semibold;
					}
				}

				li:last-child {
					border-bottom: none;
					padding-bottom: 0;
				}
			}
		}

		@media screen and (max-width: $breakpoint-md) {
			flex-direction: column;

			&__title {
				font-size: 1.25em;
			}

			&__description,
			&__specs {
				font-size: 0.875em;
			}
		}
	}
}
