@use '../../../app/vars' as *;

.container {
	width: 100%;
	background: $black-800;
	display: flex;
	flex-direction: column;
}

.main {
	position: relative;
	width: 100%;
	display: flex;
	gap: $spacing-24;
	padding: $spacing-24;
}

.information {
	display: flex;
	flex-direction: column;
	gap: $spacing-16;
	align-items: flex-start;
}

.informationList {
	display: flex;
	flex-direction: column;
	gap: $spacing-16;
}

.informationItem {
	display: flex;
	align-items: center;
	gap: $spacing-8;
}

.informationIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.informationContent {
	color: $txt-white;
}

.informationText {
	text-wrap: nowrap;
	font-size: $font-size-12;
	font-weight: $font-weight-regular;
}

/* Direction section */
.direction {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.directionList {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: calc($unit * 30);
	row-gap: $spacing-24;
}

.directionGroup {
	display: flex;
	flex-direction: column;
	gap: $spacing-16;

	&:has(.directionSocials) {
		align-items: center;
	}
}

.directionTitle {
	color: $txt-white;
	font-size: $font-size-16;
	font-weight: $font-weight-semibold;
	text-wrap: nowrap;
}

.directionLinks {
	display: flex;
	flex-direction: column;
}

.directionItem {
	font-size: $font-size-14;
	font-weight: $font-weight-regular;
	color: $txt-tertiary;
	padding: $spacing-8 0;

	a {
		&[class*='link-underline--active'] {
			color: $txt-white;

			&::after {
				background-color: $txt-white;
			}
		}

		&::after {
			background-color: $txt-tertiary;
		}
	}
}

.directionSocials {
	display: flex;
}

.directionSocialsItem,
.directionSocial {
	display: flex;
	align-items: center;
	justify-content: center;
}

.directionSocial {
	padding: $spacing-8;
	transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

	svg {
		aspect-ratio: 1;
		font-size: $font-size-16;
	}

	&:hover,
	&:active {
		color: $txt-white;
	}
}

.copyright {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $spacing-16 $spacing-24;
	border-top: 1px solid $black-700;
	color: $txt-tertiary;
	font-size: $font-size-12;
	background-color: $black-900;

	span {
		color: $txt-tertiary;
		font-size: $font-size-12;
		font-weight: $font-weight-regular;
		letter-spacing: 0.01em;
		user-select: none;
	}
}

.copyrightBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyrightIcon {
	color: white !important;
}

/* Responsive */
@media screen and (max-width: $breakpoint-md) {
	.main {
		flex-direction: column;
		gap: $spacing-24;
	}

	.main,
	.copyright {
		padding: $app-body-padding-y-mobile $app-body-padding-x-tablet;
	}

	.directionList {
		width: 100%;
		justify-content: space-between;
		gap: $spacing-32;
	}

	.direction {
		justify-content: flex-start;
	}
}

@media screen and (max-width: $breakpoint-sm) {
	.copyrightBlock {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: $spacing-8;
		text-align: center;
	}
}
